@charset "UTF-8";
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: YuGothic, "Yu Gothic Medium", Meiryo, sans-serif;
  font-size: 0.75rem;
  line-height: 2;
  color: #000;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.inner {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  padding: 0 30px;
}

/*----- 見出し -----*/
.heading {
  font-weight: 600;
}

/* 英語タイトル */
.en {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

/* 日本語タイトル */
.jp {
  font-size: 10px;
  display: inline-block;
  color: #656565;
  opacity: 0.85;
  transform: scale(0.7);
  transform-origin: 0, 0;
  line-height: 1;
  font-weight: 400;
}

/* Topページの見出し */
.top-page-heading {
  font-size: 13px;
  position: relative;
  padding-bottom: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
}

/* あしらい */
.border {
  position: relative;
}
.border::before {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #656565;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Topページの見出しの下のheading */
.sub-heading {
  font-size: 17px;
  margin-top: 30px;
  line-height: 1.6;
}

/* 下層ページの見出し */
.page-heading {
  font-size: 16px;
  margin-top: 55px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----- Topページ -----*/
/* lead文 */
.top-page_desc {
  font-size: 12px;
  margin-top: 40px;
}

/* 画像の注釈 */
.image-desc {
  color: #9A9191;
  font-size: 10px;
  margin-top: 30px;
  line-height: 1;
}

/*----- 下層ページ -----*/
/* 下層ページのリード文 */
.page-lead {
  font-size: 12px;
  max-width: 600px;
  margin: 0px auto;
  padding: 40px 0 160px;
}

/* パンクズ */
.breadcrumbs {
  margin-top: 20px;
}
.breadcrumbs__inner {
  display: flex;
  justify-content: flex-end;
}
.breadcrumbs__item {
  margin-left: 10px;
  letter-spacing: 0.2em;
  font-size: 10px;
  transform: scale(0.8);
  font-weight: 700;
}
.breadcrumbs__item.--light {
  color: #7B7B7B;
}
.breadcrumbs__arrow::after {
  content: "";
  display: inline-block;
  position: relative;
  top: -1px;
  width: 4px;
  height: 4px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: rotate(45deg);
}

/* メインビジュアル */
.page-mv {
  margin-left: calc(50% - 50vw);
}

/*----- ボタン関連-----*/
.btn {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  display: block;
}
.btn.--cta {
  border: 1px solid #000;
  font-size: 13px;
  padding: 15px;
}
.btn.--reserve {
  border: 1px solid #000;
  font-size: 14px;
  padding: 18px 50px;
}
.btn.--reserve.spfixed {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  position: fixed;
  line-height: 1.4;
  bottom: 0;
  left: 0;
  font-weight: 300;
  padding: 15px;
  z-index: 1;
  border: none;
}
.btn.--reserve.pcfixed {
  background-color: rgba(255, 255, 255, 0.65);
  border-right: none;
  line-height: 1.4;
  writing-mode: vertical-rl;
  padding: 12px;
  height: 190px;
  position: fixed;
  right: 0;
  top: 35%;
  display: none;
  z-index: 1;
}
.btn.reserve-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.reserve-icon::after {
  content: "";
  background: url(../images/icon-reserve.svg) center/cover no-repeat;
  width: 12px;
  height: 14px;
  display: inline-block;
  margin-left: 10px;
}

/* viewmoreボタン */
.viewmore {
  font-size: 0.625rem;
  display: block;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
  line-height: 1;
}
.viewmore::before, .viewmore::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: #707070;
  width: 100%;
  height: 1px;
  transition: all 0.3s ease-in-out;
}
.viewmore::after {
  width: 0;
  background: #ccc;
}
.viewmore:hover::after {
  width: 100%;
}
.viewmore span::after {
  content: "";
  position: absolute;
  top: 0.3em;
  right: 20px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  transition: all 0.3s;
}
.viewmore:hover span::after {
  right: 15px;
}

/* topへ戻る */
.toTop {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 46px;
}

/*----- 余白 -----*/
main {
  padding-top: 103px;
}

.mt10 {
  margin-top: 10px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.opensans {
  font-family: "Open Sans", sans-serif;
}

.textuppercase {
  text-transform: uppercase;
}

.sp-none {
  display: none;
}

/* サイトタイトル */
.site-title img {
  display: block;
  max-width: 133px;
}

@media (min-width: 765px) {
  main {
    padding-top: 170px;
  }
  .inner {
    padding: 0 27px;
  }
  /*----- 見出し -----*/
  .heading {
    font-weight: 600;
  }
  /* 英語タイトル */
  .en {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
  }
  /* 日本語タイトル */
  .jp {
    font-size: 11px;
    transform: scale(1);
  }
  /* Topページの見出し */
  .top-page-heading {
    font-size: 17px;
    padding-bottom: 18px;
  }
  .top-page-heading .jp {
    margin-left: 10px;
  }
  /* Topページの見出しの下のheading */
  .sub-heading {
    font-size: 21px;
    margin-top: 50px;
  }
  /* lead文 */
  .top-page_desc {
    font-size: 15px;
    margin-top: 45px;
  }
  /* 下層ページの見出し */
  .page-heading {
    font-size: 22px;
    margin-top: 50px;
  }
  /* 下層ページのリード文 */
  .page-lead {
    font-size: 16px;
    padding: 40px 0 190px;
  }
  /* パンクズ */
  .breadcrumbs {
    margin-top: 30px;
  }
  .breadcrumbs__item {
    margin-left: 20px;
    letter-spacing: 0.1em;
    font-size: 11px;
    transform: scale(1);
  }
  .breadcrumbs__arrow::after {
    top: -1px;
    width: 5px;
    height: 5px;
  }
  /* 画像の注釈 */
  .image-desc {
    font-size: 13px;
    margin-top: 45px;
  }
  /*----- ボタン関連-----*/
  .btn {
    letter-spacing: 0.1em;
  }
  .btn.--cta {
    font-size: 15px;
    padding: 23px;
  }
  .btn.--reserve {
    border: 1px solid #000;
    font-size: 14px;
    padding: 18px 50px;
    display: none;
  }
  .btn.--reserve.spfixed {
    display: none;
  }
  .btn.--reserve.pcfixed {
    display: block;
  }
  /* viewmoreボタン */
  .viewmore {
    font-size: 0.8125rem;
    letter-spacing: 0.1em;
  }
  .site-title img {
    max-width: 286px;
  }
  .site-title.--footer img {
    max-width: 206px;
  }
  /* topへ戻る */
  .toTop {
    cursor: pointer;
    position: absolute;
    right: 86px;
    top: 350px;
  }
  .mt40 {
    margin-top: 75px;
  }
  .mt50 {
    margin-top: 0px;
  }
  .sp-none {
    display: block;
  }
  .pc-none {
    display: none;
  }
  .pc-mt180 {
    margin-top: 180px;
  }
}
/* Hover Event */
@media (hover: hover) {
  .nav-list__link,
  .sns-list__link,
  .footer-sns__link,
  .btn.--reserve,
  .btn.--cta {
    transition: opacity 0.4s;
  }
  .nav-list__link:hover,
  .sns-list__link:hover,
  .footer-sns__link:hover,
  .btn.--reserve:hover,
  .btn.--cta:hover {
    opacity: 0.6;
  }
}
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 40px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.menu {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}
.menu.active {
  display: flex;
}

.header-nav {
  line-height: 1.9;
  font-size: 18px;
  margin-top: 75px;
}
.header-nav__list {
  margin-top: -30px;
}
.header-nav__item {
  margin-top: 30px;
}

.sns-list {
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.sns-list__item:not(:last-child) {
  margin-right: 30px;
}
.sns-list__image {
  width: 16px;
  display: block;
}

@media (min-width: 765px) {
  .header__wrap {
    padding: 50px 70px;
  }
  .menu {
    width: auto;
    height: auto;
    position: static;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-nav {
    font-size: 14px;
    margin-top: 0px;
  }
  .header-nav__list {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .header-nav__item {
    margin-top: 0px;
    margin-left: 3.8240917782vw;
  }
  .sns-list {
    margin-top: 0px;
    margin-left: 80px;
    margin-left: 6.6666666667vw;
    min-width: 100px;
  }
  .sns-list__image {
    width: 16px;
  }
  .btn.--sp-menu {
    display: none;
  }
}
/* -------------------------------------------- */
/* nav関連 */
/* -------------------------------------------- */
/* ハンバーガーメニュー */
.burger {
  width: 30px;
  height: 30px;
  position: relative;
  color: #000;
  cursor: pointer;
  z-index: 3;
}

/* ハンバーガーメニューのバー */
.bar {
  height: 1px;
  background-color: #707070;
  position: absolute;
  top: 50%;
  right: 0%;
  transition: all 0.2s;
}
.bar:nth-of-type(1) {
  transform: translateY(-8px);
  width: 22px;
}
.bar:nth-of-type(2) {
  transform: translateY(0px);
  width: 17px;
}
.bar:nth-of-type(3) {
  transform: translateY(8px);
  width: 11px;
}

.burger.active .bar:nth-of-type(1) {
  top: 7px;
  left: 6px;
  transform: translateY(6px) rotate(-45deg);
  width: 22px;
}
.burger.active .bar:nth-of-type(2) {
  opacity: 0;
}
.burger.active .bar:nth-of-type(3) {
  top: 19px;
  left: 6px;
  transform: translateY(-6px) rotate(45deg);
  width: 22px;
}

@media (min-width: 765px) {
  .burger {
    display: none;
  }
}
/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv {
  padding-left: 40px;
  padding-right: 40px;
}
.mv__catch {
  text-align: center;
  font-size: 13px;
  padding-bottom: 30px;
}

/* MVスライダー */
.Mvswiper {
  width: 100%;
  /* バーの背景色 */
  /* バーの色 */
}
.Mvswiper .swiper-wrapper {
  padding-bottom: 80px;
}
.Mvswiper .swiper-slide {
  opacity: 0.4;
  overflow: hidden;
  transition: 0.7s;
}
.Mvswiper .swiper-horizontal > .swiper-pagination-progressbar,
.Mvswiper .swiper-pagination-progressbar.swiper-pagination-horizontal {
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  top: 99%;
  height: 0.5px;
}
.Mvswiper .swiper-slide-active {
  opacity: 1;
  z-index: 1;
  transform: scale(1.3); /* スライドの大きさ調整 */
}
.Mvswiper .swiper-pagination-progressbar {
  background-color: #C3C3C3;
}
.Mvswiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #000;
}

@media (min-width: 765px) {
  /* MVスライダー */
  .Mvswiper .swiper-wrapper {
    padding-bottom: 140px;
  }
  .Mvswiper .swiper-horizontal > .swiper-pagination-progressbar,
  .Mvswiper .swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 100px;
    top: 95%;
    height: 1px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* top-about */
/* -------------------------------------------- */
.top-about {
  margin-top: 100px;
}
.top-about__left {
  margin-left: calc(50% - 50vw);
  padding-bottom: 10px;
}
@media (min-width: 765px) {
  .top-about {
    margin-top: 150px;
  }
  .top-about__cont {
    display: flex;
  }
  .top-about__left {
    margin-left: auto;
  }
  .top-about__right {
    padding-left: 30px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* top-style */
/* -------------------------------------------- */
.top-style {
  margin-top: 100px;
}
.top-style__slide-desc {
  padding: 35px 0 10px;
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.1em;
}
.top-style__body {
  max-width: 500px;
}

/* スタイルスライダー */
.styleswiper {
  margin-right: calc(50% - 50vw);
}
.styleswiper .swiper-slide {
  max-width: 260px;
}

@media (min-width: 765px) {
  .top-style {
    margin-top: 180px;
  }
  .styleswiper .swiper-slide {
    max-width: 497px;
  }
}
/* -------------------------------------------- */
/* top-menu */
/* -------------------------------------------- */
.top-menu {
  margin-top: 60px;
}
.top-menu__left {
  margin-left: calc(50% - 50vw);
}

@media (min-width: 765px) {
  .top-menu {
    margin-top: 110px;
  }
  .top-menu__cont {
    display: flex;
  }
  .top-menu__right {
    width: 66%;
    padding-left: 80px;
  }
}
/* -------------------------------------------- */
/* top-bg */
/* -------------------------------------------- */
.top-bg {
  margin-top: 100px;
}
.top-bg img {
  max-height: 562px;
  display: block;
  width: 100%;
}

@media (min-width: 765px) {
  .top-bg {
    margin-top: 180px;
  }
}
/* -------------------------------------------- */
/* top-salon */
/* -------------------------------------------- */
.top-salon {
  margin-top: 40px;
}
.top-salon__right {
  margin-right: calc(50% - 50vw);
}
.top-salon__right {
  margin-top: 40px;
}

@media (min-width: 765px) {
  .top-salon {
    margin-top: 130px;
  }
  .top-salon__cont {
    display: flex;
  }
  .top-salon__left {
    padding-right: 80px;
  }
  .top-salon__right {
    margin-top: -50px;
  }
}
/* -------------------------------------------- */
/* top-access */
/* -------------------------------------------- */
.top-access {
  margin-top: 100px;
}
.top-access__wrap {
  padding-left: 36px;
}
.top-access__desc {
  position: relative;
  padding-bottom: 40px;
}
.top-access__desc::before {
  content: "";
  background: #000;
  width: 123px;
  width: 11.759082218vw;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.top-access__table {
  margin-top: 40px;
}
.top-access__table th {
  font-weight: normal;
  padding-right: 40px;
  text-align: left;
  color: #7B7B7B;
  letter-spacing: 0.1em;
}
.top-access__table .open {
  text-align: right;
}
.top-access__left {
  margin-top: 60px;
}

.close__text {
  font-size: 13px;
}

.google-map-link {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.google-map-link::before {
  content: "";
  background: url(../images/icon-pin.svg) center/cover no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  margin-right: 6px;
}

@media (min-width: 765px) {
  .top-access {
    margin-top: 180px;
  }
  .top-access__cont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .top-access__wrap {
    padding-left: 0px;
  }
  .top-access__table {
    margin-top: 45px;
    font-size: 16px;
  }
  .top-access__table th {
    padding-right: 65px;
  }
  .top-access__left {
    width: 57.361376673vw;
    max-width: 600px;
  }
  .top-access__right {
    margin-top: 0px;
    padding-left: 100px;
  }
  .close__text {
    font-size: 16px;
  }
  .google-map-link {
    font-size: 14px;
    margin-top: 50px;
  }
  .google-map-link::before {
    width: 13px;
    height: 19px;
    margin-right: 10px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* cta */
/* -------------------------------------------- */
.cta {
  padding-top: 100px;
}
.cta__image {
  width: 58%;
  display: block;
  margin: 0 auto;
}
.cta__image img {
  width: 100%;
}

.btn-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.btn-cont .btn-wrap {
  width: calc((100% - 14px) / 2);
}

@media (min-width: 765px) {
  .cta {
    max-width: 708px;
    margin: 0 auto;
    padding-top: 290px;
  }
  .cta__image {
    width: 100%;
  }
  .btn-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .btn-cont .btn-wrap {
    width: calc((100% - 14px) / 2);
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer {
  border-top: 1px solid #E8E8E8;
  padding: 46px 0;
  line-height: 1.4;
  margin-top: 100px;
  position: relative;
}
.footer-list__title {
  color: #656565;
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-right: 50px;
  font-weight: 300;
  width: 18%;
}
.footer__copy {
  font-weight: 300;
  font-size: 10px;
  margin-top: 70px;
}

/* sp用折り返し */
.column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* footerのflex */
.footer-flex {
  display: flex;
}

/* -----アクセス----- */
.footer-access {
  font-size: 10px;
}
.footer-access__wrap {
  flex: 1;
}
.footer-access__name {
  font-weight: 900;
}
.footer-access__postnum {
  margin-top: 30px;
}
.footer-access__address {
  margin-top: 6px;
}
.footer-access__map {
  margin-top: 20px;
  display: block;
}
.footer-access__map::before {
  content: "";
  background: url(../images/icon-pin.svg) center/cover no-repeat;
  width: 7px;
  height: 10px;
  display: inline-block;
  margin-right: 8px;
}

/*----- サイトマップ -----*/
.footer-sitemap .footer-nav {
  flex: 1;
}
.footer-sitemap .footer-nav__list {
  height: 88px;
  font-size: 10px;
}
.footer-sitemap .footer-nav__item:not(:first-child):not(:nth-child(4)) {
  margin-top: 23px;
}

/*----- snsリンク -----*/
.footer-sns__list {
  flex: 1;
  height: 64px;
}
.footer-sns__item {
  margin-right: 30px;
}
.footer-sns__item:nth-child(even) {
  margin-top: 33px;
}
.footer-sns__link {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #9D9D9D;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.footer-sns__image {
  width: 15px;
  margin-right: 10px;
}

@media (min-width: 765px) {
  .footer {
    padding: 80px 0;
    margin-top: 240px;
  }
  .footer__cont {
    display: flex;
    justify-content: space-between;
  }
  .footer-list__title {
    font-size: 14px;
    margin-right: 0px;
  }
  .footer__copy {
    font-size: 11px;
    margin-top: 30px;
  }
  /* sp用折り返し */
  .column-wrap {
    display: block;
  }
  /* footerのflex */
  .footer-flex {
    flex-direction: column;
  }
  /* -----アクセス----- */
  .footer-access {
    font-size: 13px;
  }
  .footer-access__wrap {
    margin-top: 30px;
  }
  .footer-access__postnum {
    margin-top: 24px;
  }
  .footer-access__map {
    margin-top: 40px;
  }
  .footer-access__map::before {
    width: 10px;
    height: 15px;
    margin-right: 10px;
  }
  /*----- サイトマップ -----*/
  .footer-sitemap .footer-nav__list {
    height: auto;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-top: 30px;
  }
  .footer-sitemap .footer-nav__item {
    margin-top: 20px;
  }
  .footer-sitemap .footer-nav__item:not(:first-child):not(:nth-child(4)) {
    margin-top: 20px;
  }
  /*----- snsリンク -----*/
  .footer-sns__list {
    height: auto;
    margin-top: 6px;
  }
  .footer-sns__item:nth-child(even) {
    margin-top: 24px;
  }
  .footer-sns__link {
    font-size: 11px;
  }
  .footer-sns__item {
    margin-top: 24px;
  }
  .footer-sns__image {
    margin-right: 14px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
.page__wrap {
  position: relative;
}
.page__image-wrap img {
  width: 100%;
}
.page__image-desc {
  font-size: 10px;
  transform: scale(0.8);
  margin-top: 10px;
  transform-origin: 0 0;
  display: block;
  letter-spacing: 0.02em;
  white-space: nowrap;
  line-height: 1;
}

.about__cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.tar {
  text-align: right;
}

/* 縦組み */
.tver {
  writing-mode: vertical-rl;
}

.pab {
  position: absolute;
}

.about-img-01 {
  margin-right: 17.3333333333vw;
}
.about-img-02 {
  margin-top: -16vw;
  margin-right: calc(50% - 50vw);
  margin-left: 51.7333333333vw;
}
.about-img-03 {
  margin-right: 42.1333333333vw;
  margin-top: -30.6666666667vw;
}
.about-img-04 {
  margin-top: 50px;
  margin-left: 22.1333333333vw;
}
.about-img-04 .page__image-desc {
  top: 0;
  left: -7%;
  margin-top: 0;
}
.about-img-05 {
  margin-right: 49.6vw;
  margin-top: -3.2vw;
}
.about-img-06 {
  margin-right: 17.6vw;
  margin-left: calc(50% - 50vw);
}
.about-img-06 .page__image-desc {
  transform-origin: 100% 0;
}
.about-img-07 .page__image-desc {
  transform-origin: 100% 0;
}

@media (min-width: 765px) {
  .page__image-desc {
    font-size: 13px;
    transform: scale(1);
    margin-top: 26px;
  }
  /* 画像no.6, no.7のコンテナ */
  .about__cont {
    margin-top: 116px;
  }
  .about-img-01 {
    max-width: 660px;
    margin-right: auto;
    margin-right: 26.6666666667vw;
    left: -4.8611111111vw;
  }
  .about-img-02 {
    max-width: 362px;
    margin-right: 0;
    right: -4.8611111111vw;
    margin-left: auto;
    margin-top: -10.8333333333vw;
  }
  .about-img-02 .page__image-desc {
    text-align: right;
  }
  .about-img-03 {
    max-width: 605px;
    margin-top: -20.2083333333vw;
    margin-left: 5.9027777778vw;
    margin-right: 22.7777777778vw;
  }
  .about-img-03 .page__image-desc {
    position: relative;
    top: 0;
    left: -50px;
  }
  .about-img-04 {
    max-width: 704px;
    margin-left: 23.6805555556vw;
    margin-top: 220px;
  }
  .about-img-04 .page__image-desc {
    top: 0;
    left: -6%;
    margin-top: 0;
  }
  .about-img-05 {
    max-width: 413px;
    margin-right: 0;
    margin-top: 0;
    margin-right: 43.75vw;
    margin-top: -9.7222222222vw;
  }
  .about-img-06 {
    max-width: 400px;
    margin-right: 15.9722222222vw;
    margin-left: 0;
    left: -4.8611111111vw;
  }
  .about-img-07 {
    max-width: 485px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* style */
/* -------------------------------------------- */
.style__type {
  letter-spacing: 0.05em;
  font-weight: 700;
  position: absolute;
}

.style-img-01 {
  margin-left: calc(50% - 50vw);
  margin-right: 14.6666666667vw;
}
.style-img-01 .style__type {
  top: 0;
  right: -6%;
  margin-top: 0;
}
.style-img-02 {
  margin-left: 28.8vw;
  margin-top: -21.3333333333vw;
}
.style-img-02 .page__image-desc {
  line-height: 1.6;
}
.style-img-03 {
  margin-right: calc(50% - 50vw);
  margin-top: 30px;
}
.style-img-04 {
  margin-left: calc(50% - 50vw);
  margin-top: 50px;
}
.style-img-04 .style__type {
  right: 0;
  top: 20px;
}
.style-img-04 .page__image-desc {
  padding-left: 30px;
}
.style-img-05 {
  margin-left: 28vw;
  margin-top: 30px;
}
.style-img-06 {
  margin-right: 44.8vw;
  margin-top: -51.7333333333vw;
}
.style-img-07 {
  margin-top: 80px;
  margin-left: calc(50% - 50vw);
  margin-right: 2.6666666667vw;
}
.style-img-07 .page__image-desc {
  position: absolute;
  left: 10%;
  top: -25px;
}
.style-img-08 {
  margin-right: 37.8666666667vw;
  margin-left: 8.5333333333vw;
  margin-top: -10.1333333333vw;
}
.style-img-08 .style__type {
  top: 0;
  right: -8%;
  margin-top: 0;
  display: none;
}
.style-img-09 {
  margin-right: 8vw;
  margin-left: 39.2vw;
  margin-top: -32.8vw;
}

@media (min-width: 765px) {
  .style-img-01 {
    max-width: 644px;
    margin-left: 10.3472222222vw;
    margin-right: 17.7777777778vw;
  }
  .style-img-02 {
    max-width: 320px;
    margin-left: 50.3472222222vw;
    margin-top: -24.2361111111vw;
  }
  .style-img-03 {
    margin-right: auto;
    margin-top: -3.6805555556vw;
    max-width: 605px;
  }
  .style-img-04 {
    margin-top: 180px;
    margin-left: 21.0416666667vw;
    max-width: 743px;
  }
  .style-img-04 .page__image-desc {
    padding-left: 30px;
    text-align: right;
  }
  .style-img-05 {
    margin-left: 0;
    max-width: 383px;
    margin-right: 45.625vw;
    margin-top: -54.7916666667vw;
  }
  .style-img-06 {
    max-width: 303px;
    margin-left: 8.4027777778vw;
    margin-right: 43.1944444444vw;
    margin-top: -1.3194444444vw;
  }
  .style-img-07 {
    max-width: 628px;
    margin-right: 30.8333333333vw;
    margin-left: -1.8055555556vw;
    margin-top: 178px;
  }
  .style-img-07 .page__image-desc {
    top: 100%;
    left: 15%;
  }
  .style-img-08 {
    max-width: 287px;
    margin-left: 38.5416666667vw;
    margin-right: 14.1666666667vw;
    margin-top: -50.4166666667vw;
  }
  .style-img-08 .style__type {
    display: block;
  }
  .style-img-09 {
    max-width: 309px;
    margin-top: -3.2638888889vw;
    margin-right: 4.8611111111vw;
    margin-left: 46.3194444444vw;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* menu */
/* -------------------------------------------- */
.menu__wrap {
  padding: 0 25px;
}
.menu__flex {
  display: flex;
  justify-content: space-between;
}
.menu__title {
  font-size: 12px;
  border-bottom: 1px solid #AA9F9F;
  padding-bottom: 10px;
  font-weight: 400;
  margin-top: 30px;
}
.menu__price {
  font-weight: 700;
}
.menu__list {
  margin-top: 25px;
  font-size: 12px;
}
.menu__list-item {
  border-bottom: 0.5px solid #D3D3D3;
  padding: 15px 0 10px;
}
.menu__other {
  margin-top: 40px;
}
.menu__tax {
  font-size: 10px;
  color: #7B7B7B;
  margin-top: 150px;
  margin-top: 50px;
  line-height: 1;
}
.menu__attention {
  font-size: 10px;
  color: #7B7B7B;
  margin-top: 30px;
  margin-top: 15px;
}

.mt60 {
  margin-top: 60px;
}

@media (min-width: 765px) {
  .menu__wrap {
    padding: 0;
  }
  .menu__cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
  }
  .menu__cont.--other {
    max-height: 630px;
  }
  .menu__cont.--other .menu__title:first-child {
    margin-top: 0;
  }
  .menu__title {
    font-size: 16px;
    width: 38.5%;
  }
  .menu__list {
    width: 38.5%;
    font-size: 16px;
  }
  .menu__list-item {
    padding: 30px 0 15px;
  }
  .menu__list-item:first-child {
    padding-top: 0;
  }
  .menu__other {
    margin-top: 0px;
  }
  .menu__bottom {
    width: 38.5%;
  }
  .menu__tax {
    font-size: 15px;
    margin-top: 150px;
  }
  .menu__attention {
    font-size: 15px;
    margin-top: 30px;
  }
  .mt60 {
    margin-top: 150px;
  }
  .mt150 {
    margin-top: 150px;
  }
  .mra {
    margin-left: auto;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* salon */
/* -------------------------------------------- */
.salon-img-01 {
  text-align: right;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
.salon-img-01 .page__image-desc {
  transform-origin: 100%;
  padding-right: 30px;
}
.salon-img-02 {
  margin-left: calc(50% - 50vw);
  margin-right: 3.4666666667vw;
  margin-top: 60px;
}
.salon-img-03 {
  margin-right: calc(50% - 50vw);
  margin-left: 23.7333333333vw;
  margin-top: 92px;
}
.salon-img-04 {
  margin-left: calc(50% - 50vw);
  margin-top: 97px;
}
.salon-img-04 .page__image-desc {
  transform-origin: 100%;
  text-align: right;
}
.salon-img-05 {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 115px;
}
.salon-img-05 .page__image-desc {
  padding-left: 30px;
}

@media (min-width: 765px) {
  .salon-img-01 {
    max-width: 851px;
    margin-left: 0;
    margin-right: 13.5416666667vw;
  }
  .salon-img-01 .page__image-desc {
    position: absolute;
    top: 0;
    right: -7%;
    margin-top: 0;
    writing-mode: vertical-rl;
    letter-spacing: 0.5em;
  }
  .salon-img-02 {
    max-width: 761px;
    margin-right: 0;
    margin-left: 19.7916666667vw;
    margin-top: 180px;
  }
  .salon-img-03 {
    max-width: 383px;
    margin-right: 41.9444444444vw;
    margin-left: 4.0277777778vw;
    margin-top: -24.5138888889vw;
  }
  .salon-img-03 .page__image-desc {
    text-align: right;
  }
  .salon-img-04 {
    margin-top: 130px;
    margin-left: 18.1944444444vw;
    max-width: 800px;
    margin-right: 0;
  }
  .salon-img-04 .page__image-desc {
    padding-right: 3.9583333333vw;
  }
  .salon-img-05 {
    max-width: 656px;
    margin-left: 13.3333333333vw;
    margin-right: 13.3333333333vw;
    margin-top: 180px;
  }
  .salon-img-05 .page__image-desc {
    padding-left: 0px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* Hover Event */