@charset "UTF-8";
*{
  box-sizing: border-box;
}

@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #000;
$lightBlackColor: #656565;


body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

body {
	font-family: YuGothic,"Yu Gothic Medium",Meiryo,sans-serif;
  font-size: rem(12);
  line-height: 2;
  color: $textColor;
  position: relative;
  // letter-spacing: 0.05em;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

header,main,section,footer, div, ul, li, h1,h2,h3,dl,dt,dd{
  // background-color: rgba(0,200,100,0.1);
  // border: 1px solid rgba(0,0,0,0.1);
}

.inner{
  margin: 0 auto;
  max-width: 1046px;
  width: 100%;
  // background-color: rgba(241,92,168,0.2);
  padding: 0 30px;
}

.opensans{
  font-family: 'Open Sans', sans-serif;
}

.textuppercase{
  text-transform: uppercase;
}

/*----- ボタン関連-----*/
.btn{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  display: block;
  
  &.--cta{
    border: 1px solid #000;
    font-size: 13px;
    padding: 15px;
  }
  
  &.--reserve{
    border: 1px solid #000;
    font-size: 14px;
    padding: 18px 50px;

    &.spfixed{
      width: 100%;
      background-color: rgba(255, 255, 255, 0.65);
      position: fixed;
      line-height: 1.4;
      bottom: 0;
      left: 0;
      font-weight: 300;
      padding: 15px;
      z-index: 1;
      border: none;
    }
  
    &.pcfixed{
      background-color: rgba(255, 255, 255, 0.65);
      border-right: none;
      line-height: 1.4;
      writing-mode: vertical-rl;
      padding: 12px;
      height: 190px;
      position: fixed;
      right: 0;
      top: 50%;
      display: none;
    }
  }
  
  &.reserve-icon{
    display: flex;
    align-items: center;
    justify-content: center;

    &::after{
      content:"";
      background: url(../images/icon-reserve.svg) center/cover no-repeat;
      width: 12px;
      height: 14px;
      display: inline-block;
      margin-left: 10px;
    }
  }
}


.site-title{
  img{
    display: block;
    max-width: 133px;
  }
  
}

.mt50{
  margin-top: 50px;
}

@media (min-width: 765px) {
  .site-title{
    img{
      max-width: 286px;
    }

    &.--footer{
      img{
        max-width: 206px;
      }
    }
  }

  /*----- ボタン関連-----*/
  .btn{
    letter-spacing: 0.1em;
    
    &.--cta{
      font-size: 15px;
      padding: 23px;
    }
    
    &.--reserve{
      border: 1px solid #000;
      font-size: 14px;
      padding: 18px 50px;
      display: none;

      &.spfixed{
        display: none;
      }
    
      &.pcfixed{
        display: block;
      }
    }
  }
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  // border: 1px solid #000;

  &__wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 40px;
  }
}

.menu{
  background-color: rgb(255,255,255);
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;

  &.active{
    display: flex;
  }
}

.header-nav{
  line-height: 1.9;
  font-size: 18px;
  margin-top: 75px;

  &__list{
    margin-top: -30px;
  }

  &__item{
    margin-top: 30px;
  }
}

.sns-list{
  margin-top: 70px;
  display: flex;
  align-items: center;

  &__item{
    &:not(:last-child){
      margin-right: 30px;
    }   
  }
  
  &__image{
    width: 16px;
    display: block;
  }
}

@media (min-width: 765px) {
  .header{
  
    &__wrap{
      padding: 50px 70px 0;
    }
  }

  .menu{
    width: 100%;
    height: auto;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header-nav{
    font-size: 14px;
    margin-top:0px;

    &__list{
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;
    }
    
    &__item{
      margin-top: 0px;
      // margin-left: 40px;
      margin-left: calc(40/1046*100vw);
    }
  }

  .sns-list{
    margin-top: 0px;
    margin-left: 80px;
    min-width: 100px;
    
    &__image{
      width: 16px;
    }
  }

  .btn.--sp-menu{
    display: none;
  }

}

.nav{

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* nav関連 */
/* -------------------------------------------- */
/* nav共通 */
.nav{

}



.header-nav{
}

/* ハンバーガーメニュー */
.burger{
  width: 30px;
  height: 30px;
  position: relative;
  color: #000;
  cursor: pointer;
  z-index: 3;

  // border: 1px solid #000;

}

/* ハンバーガーメニューのバー */
.bar{
  height: 1px;
  background-color: #707070;
  position: absolute;
  top: 50%;
  right: 0%;
  transition: all .2s;

  &:nth-of-type(1){
    transform:translateY(-8px);
    width: 22px;
  }

  &:nth-of-type(2){
    transform:translateY(0px);
    width: 17px;
  }
  
  &:nth-of-type(3){
    transform:translateY(8px);
    width: 11px;
  }
}

.burger.active{
  .bar:nth-of-type(1) {
    top: 7px;
    left: 6px;
    transform: translateY(6px) rotate(-45deg);
    width: 22px;
  }

  .bar:nth-of-type(2) {
    opacity: 0;
  }
  
  .bar:nth-of-type(3){
    top: 19px;
    left: 6px;
    transform: translateY(-6px) rotate(45deg);
    width: 22px;
  }
}


@media (min-width: 765px) {
  .burger{
    display: none;
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv{
  padding-bottom: 50px;
  &__catch{
    text-align: center;
    font-size: 13px;
  }
}

.slide{
  margin-top: 40px;
  padding: 0 40px;
}

@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
section{
  padding: 50px 0;
}
.top-about{
  &__wrap{

  }

  &__left{

  }

  &__right{

  }

  &__desc{
    
  }

}


.heading--en{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.top-page-heading{
  
  &__en{
    font-size: 13px;
    position: relative;
    line-height: 1;
    padding-bottom: 10px;

    &::before{
      content: "";
      width: 8px;
      height: 1px;
      background-color: $lightBlackColor;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &__jp{
    font-size: 17px;
    margin-top: 30px;
    line-height: 1.6;
  }
  

}

.top-page-subheading{
  font-size: 10px;
  display: inline-block;
  color: $lightBlackColor;
  opacity: 0.85;
  transform: scale(0.7);
  transform-origin: 0,0;
}

.top-page_desc{
  font-size: 12px;
  margin-top: 40px;
}

.image-desc{
  color: #9A9191;
  font-size: 10px;
  margin-top: 30px;
  line-height: 1;
}

/* viewmoreボタン */
.viewmore{
  font-size:rem(10);
  border-bottom: 1px solid #707070;
  display: block;
  width: 100%;
  padding-bottom: 10px;
  position:relative;
  line-height: 1;

  &::before,
  &::after{
    content:'';
    position:absolute;
    z-index:1;
    bottom:0;
    left:0; 
    background: $textColor;
    width:100%;
    height:2px;
    transition:all 0.3s ease-in-out;
  }

  &::after{
    width:0;
    background:#ccc;
  }

  &:hover::after {
    width:100%;
  }
  
  & span::after {
    content: '';
    position: absolute;
    top: 0.3em;
    right: 1px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    transition: all .3s;
  }

  &:hover span::after {
    right:15px;
  }
}

.mt40 {
  margin-top: 40px;
}


@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* style */
/* -------------------------------------------- */
.style{
  &__slide-desc{
    margin-top: 35px;
    font-size: 10px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.1em;
  }
}

@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* top-menu */
/* -------------------------------------------- */
.top-menu{
  &__image{
    margin-left: calc(50% - 50vw);
  }
}

@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* top-bg */
/* -------------------------------------------- */
.top-bg{
  background: url(../images/tool-big-image-sp.jpg) center/cover no-repeat;
  height: 246px;
  width: 100%;
}

@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* top-salon */
/* -------------------------------------------- */
.top-salon{
  &__image{
    margin-right: calc(50% - 50vw);
  }
}

@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* top-access */
/* -------------------------------------------- */
.access{
  &__table{
    margin-top: 20px;

    th{
      font-weight: normal;
      padding-right: 40px;
      text-align: left;
      color: #7B7B7B;
      letter-spacing: 0.1em;
    }
    .open{
      text-align: right;
    }
  }
}

.close__text{
  font-size: 13px;
}

.google-map-link{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* cta */
/* -------------------------------------------- */
.cta{
  &__image{
    width: 58%;
    margin: 0 auto;
    img{
      width: 100%;
    }
  }
}
.btn-cont{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .btn-wrap{
    width: calc((100% - 14px)/2);
  }
}

@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer{
  border-top: 1px solid #E8E8E8;
  padding: 46px 0;
  line-height: 1.4;

  &-list__title {
    color:#656565;
    font-size: 10px;
    letter-spacing: 0.1em;
    margin-right: 50px;
    font-weight: 300;
    width: 18%;
  }

  &__copy{
    font-weight: 300;
    font-size: 10px;
    margin-top: 70px;
  }
}

/* sp用折り返し */
.column-wrap{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: pink;
}

.flex{
  display: flex;
}

/* -----アクセス----- */
.footer-access{

  &__wrap{
    flex:1;
  }
  
  &__name{
    font-weight: 900;
  }

  &__postnum{
    margin-top: 30px;
  }

  &__address{
    margin-top: 6px;
  }

  &__map{
    margin-top: 20px;
  }
}


/*----- サイトマップ -----*/
.footer-sitemap{
  .footer-nav{
    flex:1;

    &__list{
      height: 88px;
      font-size: 10px; 
    }

    &__item{
      
      &:not(:first-child):not(:nth-child(4)){
        margin-top: 23px;
      }
    }
  }
}


/*----- snsリンク -----*/
.footer-sns-wrap{

}
.footer-sns{

  &__list{
    flex:1;
    height: 64px;
  }
  
  &__item{
    margin-right: 30px;

    &:nth-child(even){
      margin-top: 33px;
    }
  }
  
  &__link{
    display: flex;
    align-items: center;
    font-size: 10px;
    color:#9D9D9D;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
  
  &__image{
    width: 15px;
    margin-right: 10px;
  }
}

@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}
