@charset "UTF-8";
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: YuGothic, "Yu Gothic Medium", Meiryo, sans-serif;
  font-size: 0.75rem;
  line-height: 2;
  color: #000;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.inner {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  padding: 0 30px;
}

/*----- 見出し -----*/
.heading {
  font-weight: 600;
}

/* 英語タイトル */
.en {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

/* 日本語タイトル */
.jp {
  font-size: 10px;
  display: inline-block;
  color: #656565;
  opacity: 0.85;
  transform: scale(0.7);
  transform-origin: 0, 0;
}

/* Topページの見出し */
.top-page-heading {
  font-size: 13px;
  position: relative;
  padding-bottom: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
}

/* あしらい */
.border {
  position: relative;
}
.border::before {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #656565;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Topページの見出しの下のheading */
.sub-heading {
  font-size: 17px;
  margin-top: 30px;
  line-height: 1.6;
}

/* lead文 */
.top-page_desc {
  font-size: 12px;
  margin-top: 40px;
}

/* 画像の注釈 */
.image-desc {
  color: #9A9191;
  font-size: 10px;
  margin-top: 30px;
  line-height: 1;
}

/*----- ボタン関連-----*/
.btn {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  display: block;
}
.btn.--cta {
  border: 1px solid #000;
  font-size: 13px;
  padding: 15px;
}
.btn.--reserve {
  border: 1px solid #000;
  font-size: 14px;
  padding: 18px 50px;
}
.btn.--reserve.spfixed {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  position: fixed;
  line-height: 1.4;
  bottom: 0;
  left: 0;
  font-weight: 300;
  padding: 15px;
  z-index: 1;
  border: none;
}
.btn.--reserve.pcfixed {
  background-color: rgba(255, 255, 255, 0.65);
  border-right: none;
  line-height: 1.4;
  writing-mode: vertical-rl;
  padding: 12px;
  height: 190px;
  position: fixed;
  right: 0;
  top: 50%;
  display: none;
}
.btn.reserve-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.reserve-icon::after {
  content: "";
  background: url(../images/icon-reserve.svg) center/cover no-repeat;
  width: 12px;
  height: 14px;
  display: inline-block;
  margin-left: 10px;
}

/* viewmoreボタン */
.viewmore {
  font-size: 0.625rem;
  display: block;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
  line-height: 1;
}
.viewmore::before, .viewmore::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: #707070;
  width: 100%;
  height: 1px;
  transition: all 0.3s ease-in-out;
}
.viewmore::after {
  width: 0;
  background: #ccc;
}
.viewmore:hover::after {
  width: 100%;
}
.viewmore span::after {
  content: "";
  position: absolute;
  top: 0.3em;
  right: 20px;
  width: 5px;
  height: 5px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  transition: all 0.3s;
}
.viewmore:hover span::after {
  right: 15px;
}

/*----- 余白 -----*/
section {
  padding: 50px 0;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.opensans {
  font-family: "Open Sans", sans-serif;
}

.textuppercase {
  text-transform: uppercase;
}

.sp-none {
  display: none;
}

/* サイトタイトル */
.site-title img {
  display: block;
  max-width: 133px;
}

@media (min-width: 765px) {
  .inner {
    padding: 0 27px;
  }
  /*----- 見出し -----*/
  .heading {
    font-weight: 600;
  }
  /* 英語タイトル */
  .en {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
  }
  /* 日本語タイトル */
  .jp {
    font-size: 11px;
    transform: scale(1);
    margin-left: 10px;
  }
  /* Topページの見出し */
  .top-page-heading {
    font-size: 17px;
    padding-bottom: 18px;
  }
  /* Topページの見出しの下のheading */
  .sub-heading {
    font-size: 21px;
    margin-top: 50px;
  }
  /* lead文 */
  .top-page_desc {
    font-size: 15px;
    margin-top: 45px;
  }
  /* 画像の注釈 */
  .image-desc {
    font-size: 13px;
    margin-top: 45px;
  }
  /*----- ボタン関連-----*/
  .btn {
    letter-spacing: 0.1em;
  }
  .btn.--cta {
    font-size: 15px;
    padding: 23px;
  }
  .btn.--reserve {
    border: 1px solid #000;
    font-size: 14px;
    padding: 18px 50px;
    display: none;
  }
  .btn.--reserve.spfixed {
    display: none;
  }
  .btn.--reserve.pcfixed {
    display: block;
  }
  /* viewmoreボタン */
  .viewmore {
    font-size: 0.8125rem;
    letter-spacing: 0.1em;
  }
  .site-title img {
    max-width: 286px;
  }
  .site-title.--footer img {
    max-width: 206px;
  }
  .mt40 {
    margin-top: 75px;
  }
  .mt50 {
    margin-top: 0px;
  }
  .sp-none {
    display: block;
  }
  .pc-none {
    display: none;
  }
  .pc-mt180 {
    margin-top: 180px;
  }
}
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 40px;
}

.menu {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}
.menu.active {
  display: flex;
}

.header-nav {
  line-height: 1.9;
  font-size: 18px;
  margin-top: 75px;
}
.header-nav__list {
  margin-top: -30px;
}
.header-nav__item {
  margin-top: 30px;
}

.sns-list {
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.sns-list__item:not(:last-child) {
  margin-right: 30px;
}
.sns-list__image {
  width: 16px;
  display: block;
}

@media (min-width: 765px) {
  .header__wrap {
    padding: 50px 70px 0;
  }
  .menu {
    width: auto;
    height: auto;
    position: static;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-nav {
    font-size: 14px;
    margin-top: 0px;
  }
  .header-nav__list {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .header-nav__item {
    margin-top: 0px;
    margin-left: 3.8240917782vw;
  }
  .sns-list {
    margin-top: 0px;
    margin-left: 80px;
    margin-left: 6.6666666667vw;
    min-width: 100px;
  }
  .sns-list__image {
    width: 16px;
  }
  .btn.--sp-menu {
    display: none;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* nav関連 */
/* -------------------------------------------- */
/* nav共通 */
/* ハンバーガーメニュー */
.burger {
  width: 30px;
  height: 30px;
  position: relative;
  color: #000;
  cursor: pointer;
  z-index: 3;
}

/* ハンバーガーメニューのバー */
.bar {
  height: 1px;
  background-color: #707070;
  position: absolute;
  top: 50%;
  right: 0%;
  transition: all 0.2s;
}
.bar:nth-of-type(1) {
  transform: translateY(-8px);
  width: 22px;
}
.bar:nth-of-type(2) {
  transform: translateY(0px);
  width: 17px;
}
.bar:nth-of-type(3) {
  transform: translateY(8px);
  width: 11px;
}

.burger.active .bar:nth-of-type(1) {
  top: 7px;
  left: 6px;
  transform: translateY(6px) rotate(-45deg);
  width: 22px;
}
.burger.active .bar:nth-of-type(2) {
  opacity: 0;
}
.burger.active .bar:nth-of-type(3) {
  top: 19px;
  left: 6px;
  transform: translateY(-6px) rotate(45deg);
  width: 22px;
}

@media (min-width: 765px) {
  .burger {
    display: none;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv {
  padding-bottom: 50px;
}
.mv__catch {
  text-align: center;
  font-size: 13px;
}

.slide {
  margin-top: 40px;
  padding: 0 40px;
}

/* Hover Event */
/* -------------------------------------------- */
/* top-about */
/* -------------------------------------------- */
.top-about__left {
  margin-left: calc(50% - 50vw);
  padding-bottom: 10px;
}
@media (min-width: 765px) {
  .top-about__cont {
    display: flex;
  }
  .top-about__left {
    margin-left: auto;
  }
  .top-about__right {
    padding-left: 30px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* top-style */
/* -------------------------------------------- */
.top-style__slide-desc {
  margin-top: 35px;
  font-size: 10px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.1em;
}
.top-style__body {
  border: 1px solid #000;
}

/* Hover Event */
/* -------------------------------------------- */
/* top-menu */
/* -------------------------------------------- */
.top-menu__left {
  margin-left: calc(50% - 50vw);
}

@media (min-width: 765px) {
  .top-menu__cont {
    display: flex;
  }
  .top-menu__right {
    width: 66%;
    padding-left: 80px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* top-bg */
/* -------------------------------------------- */
.top-bg img {
  max-height: 562px;
  display: block;
  width: 100%;
}

/* -------------------------------------------- */
/* top-salon */
/* -------------------------------------------- */
.top-salon__right {
  margin-right: calc(50% - 50vw);
}
.top-salon__right {
  margin-top: 40px;
}

@media (min-width: 765px) {
  .top-salon__cont {
    display: flex;
  }
  .top-salon__left {
    padding-right: 80px;
  }
  .top-salon__right {
    margin-top: -50px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* top-access */
/* -------------------------------------------- */
.top-access__wrap {
  padding-left: 36px;
}
.top-access__desc {
  position: relative;
  padding-bottom: 40px;
}
.top-access__desc::before {
  content: "";
  background: #000;
  width: 123px;
  width: 11.759082218vw;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.top-access__table {
  margin-top: 40px;
}
.top-access__table th {
  font-weight: normal;
  padding-right: 40px;
  text-align: left;
  color: #7B7B7B;
  letter-spacing: 0.1em;
}
.top-access__table .open {
  text-align: right;
}
.top-access__left {
  margin-top: 60px;
}

.close__text {
  font-size: 13px;
}

.google-map-link {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.google-map-link::before {
  content: "";
  background: url(../images/icon-pin.svg) center/cover no-repeat;
  width: 10px;
  height: 15px;
  display: inline-block;
  margin-right: 6px;
}

@media (min-width: 765px) {
  .top-access__cont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .top-access__wrap {
    padding-left: 0px;
  }
  .top-access__table {
    margin-top: 45px;
    font-size: 16px;
  }
  .top-access__table th {
    padding-right: 65px;
  }
  .top-access__left {
    width: 57.361376673vw;
    max-width: 600px;
  }
  .top-access__right {
    margin-top: 0px;
    padding-left: 100px;
  }
  .close__text {
    font-size: 16px;
  }
  .google-map-link {
    font-size: 14px;
    margin-top: 50px;
  }
  .google-map-link::before {
    width: 13px;
    height: 19px;
    margin-right: 10px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* top-cta */
/* -------------------------------------------- */
.top-cta__image {
  width: 58%;
  display: block;
  margin: 0 auto;
}
.top-cta__image img {
  width: 100%;
}

.btn-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.btn-cont .btn-wrap {
  width: calc((100% - 14px) / 2);
}

@media (min-width: 765px) {
  .top-cta {
    max-width: 708px;
    margin: 0 auto;
  }
  .top-cta__image {
    width: 100%;
  }
  .btn-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .btn-cont .btn-wrap {
    width: calc((100% - 14px) / 2);
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer {
  border-top: 1px solid #E8E8E8;
  padding: 46px 0;
  line-height: 1.4;
  margin-top: 100px;
}
.footer-list__title {
  color: #656565;
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-right: 50px;
  font-weight: 300;
  width: 18%;
}
.footer__copy {
  font-weight: 300;
  font-size: 10px;
  margin-top: 70px;
}

/* sp用折り返し */
.column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* footerのflex */
.footer-flex {
  display: flex;
}

/* -----アクセス----- */
.footer-access {
  font-size: 10px;
}
.footer-access__wrap {
  flex: 1;
}
.footer-access__name {
  font-weight: 900;
}
.footer-access__postnum {
  margin-top: 30px;
}
.footer-access__address {
  margin-top: 6px;
}
.footer-access__map {
  margin-top: 20px;
}
.footer-access__map::before {
  content: "";
  background: url(../images/icon-pin.svg) center/cover no-repeat;
  width: 7px;
  height: 10px;
  display: inline-block;
  margin-right: 8px;
}

/*----- サイトマップ -----*/
.footer-sitemap .footer-nav {
  flex: 1;
}
.footer-sitemap .footer-nav__list {
  height: 88px;
  font-size: 10px;
}
.footer-sitemap .footer-nav__item:not(:first-child):not(:nth-child(4)) {
  margin-top: 23px;
}

/*----- snsリンク -----*/
.footer-sns__list {
  flex: 1;
  height: 64px;
}
.footer-sns__item {
  margin-right: 30px;
}
.footer-sns__item:nth-child(even) {
  margin-top: 33px;
}
.footer-sns__link {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #9D9D9D;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.footer-sns__image {
  width: 15px;
  margin-right: 10px;
}

@media (min-width: 765px) {
  .footer {
    padding: 80px 0;
    margin-top: 240px;
  }
  .footer__cont {
    display: flex;
    justify-content: space-between;
  }
  .footer-list__title {
    font-size: 14px;
    margin-right: 0px;
  }
  .footer__copy {
    font-size: 11px;
    margin-top: 30px;
  }
  /* sp用折り返し */
  .column-wrap {
    display: block;
  }
  /* footerのflex */
  .footer-flex {
    flex-direction: column;
  }
  /* -----アクセス----- */
  .footer-access {
    font-size: 13px;
  }
  .footer-access__wrap {
    margin-top: 30px;
  }
  .footer-access__postnum {
    margin-top: 24px;
  }
  .footer-access__map {
    margin-top: 40px;
  }
  .footer-access__map::before {
    width: 10px;
    height: 15px;
    margin-right: 10px;
  }
  /*----- サイトマップ -----*/
  .footer-sitemap .footer-nav__list {
    height: auto;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin-top: 30px;
  }
  .footer-sitemap .footer-nav__item {
    margin-top: 20px;
  }
  .footer-sitemap .footer-nav__item:not(:first-child):not(:nth-child(4)) {
    margin-top: 20px;
  }
  /*----- snsリンク -----*/
  .footer-sns__list {
    height: auto;
    margin-top: 6px;
  }
  .footer-sns__item:nth-child(even) {
    margin-top: 24px;
  }
  .footer-sns__link {
    font-size: 11px;
  }
  .footer-sns__item {
    margin-top: 24px;
  }
  .footer-sns__image {
    margin-right: 14px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* Hover Event */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* Hover Event */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* Hover Event */
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* Hover Event */