@charset "UTF-8";
*{
  box-sizing: border-box;
}

@function rem($px){
  @return ($px/16) *1rem;
}

$textColor: #000;
$lightBlackColor: #656565;


body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

body {
	font-family: YuGothic,"Yu Gothic Medium",Meiryo,sans-serif;
  font-size: rem(12);
  line-height: 2;
  color: $textColor;
  position: relative;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.inner{
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
  padding: 0 30px;
}

/*----- 見出し -----*/
.heading{
  font-weight: 600;
}

/* 英語タイトル */
.en{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

/* 日本語タイトル */
.jp{
  font-size: 10px;
  display: inline-block;
  color: $lightBlackColor;
  opacity: 0.85;
  transform: scale(0.7);
  transform-origin: 0,0;
  line-height: 1;
  font-weight: 400;
}

/* Topページの見出し */
.top-page-heading{
  font-size: 13px;
  position: relative;
  padding-bottom: 10px;
  line-height: 1;
  letter-spacing: 0.1em;
}

/* あしらい */
.border{
  position: relative;

  &::before{
    content: "";
    width: 8px;
    height: 1px;
    background-color: $lightBlackColor;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/* Topページの見出しの下のheading */
.sub-heading{
  font-size: 17px;
  margin-top: 30px;
  line-height: 1.6;
}

/* 下層ページの見出し */
.page-heading{
  font-size: 16px;
  margin-top: 55px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----- Topページ -----*/
/* lead文 */
.top-page_desc{
  font-size: 12px;
  margin-top: 40px;
}

/* 画像の注釈 */
.image-desc{
  color: #9A9191;
  font-size: 10px;
  margin-top: 30px;
  line-height: 1;
}

/*----- 下層ページ -----*/
/* 下層ページのリード文 */
.page-lead{
  font-size: 12px;
  max-width: 600px;
  margin: 0px auto ;
  padding: 40px 0 160px;
}

/* パンクズ */
.breadcrumbs{
  margin-top: 20px;

  &__inner{
    display: flex;
    justify-content: flex-end;
  }

  &__item{
    margin-left: 10px;
    letter-spacing: 0.2em;
    font-size: 10px;
    transform: scale(0.8);
    font-weight: 700;

    &.--light{
      color:#7B7B7B;
    }
  }
  
  &__arrow{
    &::after{
      content: '';
      display: inline-block;
      position: relative;
      top: -1px;
      width: 4px;
      height: 4px;
      border-top: 1px solid #707070;
      border-right: 1px solid #707070;
      transform: rotate(45deg);
    }
  }
}

/* メインビジュアル */
.page-mv{
  margin-left: calc(50% - 50vw);
}

/*----- ボタン関連-----*/
.btn{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  display: block;
  
  &.--cta{
    border: 1px solid #000;
    font-size: 13px;
    padding: 15px;
  }
  
  &.--reserve{
    border: 1px solid #000;
    font-size: 14px;
    padding: 18px 50px;

    &.spfixed{
      width: 100%;
      background-color: rgba(255, 255, 255, 0.65);
      position: fixed;
      line-height: 1.4;
      bottom: 0;
      left: 0;
      font-weight: 300;
      padding: 15px;
      z-index: 1;
      border: none;
    }
  
    &.pcfixed{
      background-color: rgba(255, 255, 255, 0.65);
      border-right: none;
      line-height: 1.4;
      writing-mode: vertical-rl;
      padding: 12px;
      height: 190px;
      position: fixed;
      right: 0;
      top: 35%;
      display: none;
      z-index: 1;
    }
  }
  
  &.reserve-icon{
    display: flex;
    align-items: center;
    justify-content: center;

    &::after{
      content:"";
      background: url(../images/icon-reserve.svg) center/cover no-repeat;
      width: 12px;
      height: 14px;
      display: inline-block;
      margin-left: 10px;
    }
  }
}

/* viewmoreボタン */
.viewmore{
  font-size:rem(10);
  display: block;
  width: 100%;
  padding-bottom: 10px;
  position:relative;
  line-height: 1;

  &::before,
  &::after{
    content:'';
    position:absolute;
    z-index:1;
    bottom:0;
    left:0; 
    background: #707070;
    width:100%;
    height:1px;
    transition:all 0.3s ease-in-out;
  }

  &::after{
    width:0;
    background:#ccc;
  }

  &:hover::after {
    width:100%;
  }
  
  span::after {
    content: '';
    position: absolute;
    top: 0.3em;
    right: 20px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    transition: all .3s;
  }

  &:hover span::after {
    right:15px;
  }
}

/* topへ戻る */
.toTop{
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 46px;
}

/*----- 余白 -----*/
.mt10{
  margin-top: 10px;
}

.mt40 {
  margin-top: 40px;
}

.mt50{
  margin-top: 50px;
}

.opensans{
  font-family: 'Open Sans', sans-serif;
}

.textuppercase{
  text-transform: uppercase;
}

.sp-none{
  display: none;
}

/* サイトタイトル */
.site-title{
  img{
    display: block;
    max-width: 133px;
  }
}

@media (min-width: 765px) {

  .inner{
    padding: 0 27px;
  }

  /*----- 見出し -----*/
  .heading{
    font-weight: 600;
  }

  /* 英語タイトル */
  .en{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }

  /* 日本語タイトル */
  .jp{
    font-size: 11px;
    transform: scale(1);
  }

  /* Topページの見出し */
  .top-page-heading{
    font-size: 17px;
    padding-bottom: 18px;

    .jp{
      margin-left: 10px;
    }
  }

  /* Topページの見出しの下のheading */
  .sub-heading{
    font-size: 21px;
    margin-top: 50px;
  }

  /* lead文 */
  .top-page_desc{
    font-size: 15px;
    margin-top: 45px;
  }

  /* 下層ページの見出し */
  .page-heading{
    font-size: 22px;
    margin-top: 50px;
  }

  /* 下層ページのリード文 */
  .page-lead{
    font-size: 16px;
    padding: 40px 0 190px;
  }

  /* パンクズ */
  .breadcrumbs{
    margin-top: 30px;

    &__item{
      margin-left: 20px;
      letter-spacing: 0.1em;
      font-size: 11px;
      transform: scale(1);
    }
    
    &__arrow{
      &::after{
        top: -1px;
        width: 5px;
        height: 5px;
      }
    }
  }

  /* 画像の注釈 */
  .image-desc{
    font-size: 13px;
    margin-top: 45px;
  }

  /*----- ボタン関連-----*/
  .btn{
    letter-spacing: 0.1em;
    
    &.--cta{
      font-size: 15px;
      padding: 23px;
    }
    
    &.--reserve{
      border: 1px solid #000;
      font-size: 14px;
      padding: 18px 50px;
      display: none;

      &.spfixed{
        display: none;
      }
    
      &.pcfixed{
        display: block;
      }
    }
  }

  /* viewmoreボタン */
  .viewmore{
    font-size:rem(13);
    letter-spacing: 0.1em;
  }

  .site-title{
    img{
      max-width: 286px;
    }

    &.--footer{
      img{
        max-width: 206px;
      }
    }
  }

  /* topへ戻る */
.toTop{
  cursor: pointer;
  position: absolute;
  right: 86px;
  top: 350px;
}

  .mt40 {
    margin-top: 75px;
  }

  .mt50 {
    margin-top: 0px;
  }

  .sp-none{
    display: block;
  }

  .pc-none{
    display: none;
  }

  .pc-mt180{
    margin-top: 180px;
  }
}

/* Hover Event */
@media (hover: hover){
  .nav-list__link,
  .sns-list__link,
  .footer-sns__link,
  .btn.--reserve,
  .btn.--cta{
    transition: opacity .4s;

    &:hover{
      opacity: .6;
    }
  }

  .btn.--reserve{

  }
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{

  &__wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 40px;
    // position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 2;
  }
}

.menu{
  background-color: rgb(255,255,255);
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;

  &.active{
    display: flex;
  }
}

.header-nav{
  line-height: 1.9;
  font-size: 18px;
  margin-top: 75px;

  &__list{
    margin-top: -30px;
  }

  &__item{
    margin-top: 30px;
  }
}

.sns-list{
  margin-top: 70px;
  display: flex;
  align-items: center;

  &__item{
    &:not(:last-child){
      margin-right: 30px;
    }   
  }
  
  &__image{
    width: 16px;
    display: block;
  }
}

@media (min-width: 765px) {
  .header{
  
    &__wrap{
      padding: 50px 70px;
    }
  }

  .menu{
    width: auto;
    height: auto;
    position: static;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-nav{
    font-size: 14px;
    margin-top:0px;

    &__list{
      margin-top: 0px;
      display: flex;
      flex-wrap: wrap;
    }
    
    &__item{
      margin-top: 0px;
      margin-left: calc(40/1046*100vw);
    }
  }

  .sns-list{
    margin-top: 0px;
    margin-left: 80px;
    margin-left: calc(80/1200*100vw);
    min-width: 100px;
    
    &__image{
      width: 16px;
    }
  }

  .btn.--sp-menu{
    display: none;
  }

}

/* -------------------------------------------- */
/* nav関連 */
/* -------------------------------------------- */

/* ハンバーガーメニュー */
.burger{
  width: 30px;
  height: 30px;
  position: relative;
  color: #000;
  cursor: pointer;
  z-index: 3;
}

/* ハンバーガーメニューのバー */
.bar{
  height: 1px;
  background-color: #707070;
  position: absolute;
  top: 50%;
  right: 0%;
  transition: all .2s;

  &:nth-of-type(1){
    transform:translateY(-8px);
    width: 22px;
  }

  &:nth-of-type(2){
    transform:translateY(0px);
    width: 17px;
  }
  
  &:nth-of-type(3){
    transform:translateY(8px);
    width: 11px;
  }
}

.burger.active{
  .bar:nth-of-type(1) {
    top: 7px;
    left: 6px;
    transform: translateY(6px) rotate(-45deg);
    width: 22px;
  }

  .bar:nth-of-type(2) {
    opacity: 0;
  }
  
  .bar:nth-of-type(3){
    top: 19px;
    left: 6px;
    transform: translateY(-6px) rotate(45deg);
    width: 22px;
  }
}


@media (min-width: 765px) {
  .burger{
    display: none;
  }

}

/* -------------------------------------------- */
/* mv */
/* -------------------------------------------- */
.mv{
  padding-left: 40px;
  padding-right: 40px;
  position: relative;

  &__catch{
    text-align: center;
    font-size: 13px;
    padding-bottom: 30px;
  }
}

/* MVスライダー */
.Mvswiper{
  width: 100%;

  .swiper-wrapper{
    padding-bottom: calc(20 / 375 *100vw);
  }
  
  .swiper-slide {
    opacity: 0.4;
    overflow: hidden;
    transition:  opacity .7s;
  }
  
  .swiper-slide-active {
    opacity: 1;
    z-index: 1;
  }
}

/* プログレスバー */
.progressbar{
  position: relative;
  width: calc(80/375*100vw);
  height: 1px;
  margin: 10px auto 0;
  background: #C3C3C3;
  border-radius: 7px;
  overflow: hidden;

  span{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    border-radius: 7px;
    transform: scaleX(0);
    transform-origin: left center;
    transition-timing-function: linear;
  }
}

//----- スクロールダウン -----
//全体の位置
.scrolldown{
  position:absolute;
  right: 15%;
  bottom:0%;
  height:72px;
  display: none;

  //文字
  &__letter{
    position: absolute;
    left:-5px;
    top: -50px;
    transform: rotate(180deg);
    color: #333;
    font-size: rem(12);
    letter-spacing: 0.05em;
    writing-mode: vertical-rl;
  }

  // 線
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5px;
    height: 100%;
    background: #333;
  }
}

@media (min-width: 765px) {
  .mv{
    height: calc(100vh - 170px);
  
    &__catch{
      font-size: 16px;
      position: absolute;
      writing-mode: vertical-lr;
      left: 27%;
      top: 0;
      letter-spacing: 0.2em;
      z-index: 2;
    }
  }

  /* MVスライダー */
  .Mvswiper{
    .swiper-wrapper{
      width: 100%;
      height: 540px;
    }
    
    .swiper-slide {
      height: 100%;
      width: 100%;
      transform:scale(0.55, 0.7) rotate(-4deg);
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .swiper-slide-active {
      opacity: 1;
      z-index: 1;
      transform: scaleX(1.4) rotate(0deg);
    }
  }

  /* プログレスバー */
  .progressbar{
    width: 110px;
    margin: 10px auto 0;
  }

  .scrolldown{
    display: block;
  }

}

/* -------------------------------------------- */
/* top-about */
/* -------------------------------------------- */
.top-about{
  margin-top: 100px;

  &__left{
    margin-left: calc(50% - 50vw);
    padding-bottom: 10px;
  }
}

@media (min-width: 765px) {
  .top-about{
    margin-top: 150px;

    &__cont{
      display: flex;
    }
    
    &__left{
      margin-left: auto;
    }

    &__right{
      padding-left: 30px;
    }
  }

}

/* -------------------------------------------- */
/* top-style */
/* -------------------------------------------- */
.top-style{
  margin-top: 100px;

  &__slide-desc{
    padding: 35px 0 10px;
    font-size: 10px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.1em;
  }
  
  &__body{
    max-width: 500px;
  }
}

/* スタイルスライダー */
.styleswiper{
  margin-right: calc(50% - 50vw);
  .swiper-slide{
    max-width: 260px;
  }
}

@media (min-width: 765px) {
  .top-style{
    margin-top: 180px;
  }

  .styleswiper{
    .swiper-slide{
      max-width: 497px;
    }
  }

}

/* -------------------------------------------- */
/* top-menu */
/* -------------------------------------------- */
.top-menu{
  margin-top: 60px;

  &__left{
    margin-left: calc(50% - 50vw);
  }
}

@media (min-width: 765px) {
  .top-menu{
    margin-top: 110px;

    &__cont{
      display: flex;
    }

    &__right{
      width: 66%;
      padding-left: 80px;
    }
  }

}

/* -------------------------------------------- */
/* top-bg */
/* -------------------------------------------- */
.top-bg{
  margin-top: 100px;

  img{
    max-height: 562px;
    display: block;
    width: 100%;
  }
}

@media (min-width: 765px) {
  .top-bg{
    margin-top: 180px;
  }
}

/* -------------------------------------------- */
/* top-salon */
/* -------------------------------------------- */
.top-salon{
  margin-top: 100px;

  &__right{
    margin-right: calc(50% - 50vw);
  }

  &__right{
    margin-top: 40px;
  }
}

@media (min-width: 765px) {
  .top-salon{
    margin-top: 170px;

    &__cont{
      display: flex;
    }

    &__left{
      padding-right: 80px;
    }

    &__right{
      margin-top: -50px;
    }
  }

}

/* -------------------------------------------- */
/* top-access */
/* -------------------------------------------- */
.top-access{
  margin-top: 100px;

  &__wrap{
    padding-left: 36px;
  }

  &__desc{
    position: relative;
    padding-bottom: 40px;

    &::before{
      content:"";
      background: #000;
      width: 123px;
      width: calc(123 / 1046 *100vw);
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__table{
    margin-top: 40px;

    th{
      font-weight: normal;
      padding-right: 40px;
      text-align: left;
      color: #7B7B7B;
      letter-spacing: 0.1em;
    }
    .open{
      text-align: right;
    }
  }

  &__left{
    margin-top: 60px;
  }
}

.close__text{
  font-size: 13px;
}

.google-map-link{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 40px;
  display: flex;
  align-items: center;

  &::before{
    content:"";
    background: url(../images/icon-pin.svg) center/cover no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    margin-right: 6px;
  }
}

@media (min-width: 765px) {
  .top-access{
    margin-top: 180px;

    &__cont{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    &__wrap{
      padding-left: 0px;
    }
  
    &__table{
      margin-top: 45px;
      font-size: 16px;
  
      th{
        padding-right: 65px;
      }
    }
  
    &__left{
      width: calc(600 / 1046 *100vw);
      max-width: 600px;
    }

    &__right{
      margin-top: 0px;
      padding-left: 100px;
    }
  }
  
  .close__text{
    font-size: 16px;
  }
  
  .google-map-link{
    font-size: 14px;
    margin-top: 50px;
  
    &::before{
      width: 13px;
      height: 19px;
      margin-right: 10px;
    }
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* cta */
/* -------------------------------------------- */
.cta{
  padding-top: 100px;

  &__image{
    width: 58%;
    display: block;
    margin: 0 auto;

    img{
      width: 100%;
    }
  }
}
.btn-cont{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  .btn-wrap{
    width: calc((100% - 14px)/2);
  }
}

@media (min-width: 765px) {
  .cta{
    max-width: 708px;
    margin: 0 auto;
    padding-top: 290px;
    &__image{
      width: 100%;
    }
  }
  .btn-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  
    .btn-wrap{
      width: calc((100% - 14px)/2);
    }
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer{
  border-top: 1px solid #E8E8E8;
  padding: 46px 0;
  line-height: 1.4;
  margin-top: 100px;
  position: relative;

  &-list__title {
    color:#656565;
    font-size: 10px;
    letter-spacing: 0.1em;
    margin-right: 50px;
    font-weight: 300;
    width: 18%;
  }

  &__copy{
    font-weight: 300;
    font-size: 10px;
    margin-top: 70px;
  }
}

/* sp用折り返し */
.column-wrap{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* footerのflex */
.footer-flex{
  display: flex;
}

/* -----アクセス----- */
.footer-access{
  font-size: 10px;

  &__wrap{
    flex:1;
  }
  
  &__name{
    font-weight: 900;
  }

  &__postnum{
    margin-top: 30px;
  }

  &__address{
    margin-top: 6px;
  }

  &__map{
    margin-top: 20px;
    display: block;

    &::before{
      content:"";
      background: url(../images/icon-pin.svg) center/cover no-repeat;
      width: 7px;
      height: 10px;
      display: inline-block;
      margin-right: 8px;
    }
  }
}

/*----- サイトマップ -----*/
.footer-sitemap{

  .footer-nav{
    flex:1;

    &__list{
      height: 88px;
      font-size: 10px; 
    }

    &__item{
      
      &:not(:first-child):not(:nth-child(4)){
        margin-top: 23px;
      }
    }
  }
}

/*----- snsリンク -----*/
.footer-sns{

  &__list{
    flex:1;
    height: 64px;
  }
  
  &__item{
    margin-right: 30px;

    &:nth-child(even){
      margin-top: 33px;
    }
  }
  
  &__link{
    display: flex;
    align-items: center;
    font-size: 10px;
    color:#9D9D9D;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
  
  &__image{
    width: 15px;
    margin-right: 10px;
  }
}

@media (min-width: 765px) {
  .footer{
    padding: 80px 0;
    margin-top: 240px;

    &__cont{
      display: flex;
      justify-content: space-between;
    }
  
    &-list__title {
      font-size: 14px;
      margin-right: 0px;
    }
  
    &__copy{
      font-size: 11px;
      margin-top: 30px;
    }
  }

  /* sp用折り返し */
  .column-wrap{
    display: block;
  }

  /* footerのflex */
  .footer-flex{
    flex-direction: column;
  }

  /* -----アクセス----- */
  .footer-access{
    font-size: 13px;

    &__wrap{
      margin-top: 30px;
    }

    &__postnum{
      margin-top: 24px;
    }

    &__map{
      margin-top: 40px;
      &::before{
        width: 10px;
        height: 15px;
        margin-right: 10px;
      }
    }
  }

  /*----- サイトマップ -----*/
  .footer-sitemap{

    .footer-nav{

      &__list{
        height: auto;
        font-size: 14px; 
        letter-spacing: 0.1em;
        margin-top: 30px;
      }

      &__item{
        margin-top: 20px;
        
        &:not(:first-child):not(:nth-child(4)){
          margin-top: 20px;
        }
      }
    }
  }
  
  /*----- snsリンク -----*/
  .footer-sns{

    &__list{
      height: auto;
      margin-top: 6px;
    }
    
    &__item{
      &:nth-child(even){
        margin-top: 24px;
      }
    }
    
    &__link{
      font-size: 11px;
    }

    &__item{
      margin-top: 24px;
    }
    
    &__image{
      margin-right: 14px;
    }
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
.page{
  &__wrap{
    position: relative;
    // border: 1px solid #000;
  }

  &__image-wrap{
    img{
      width: 100%;
    }
  }

  &__image-desc{
    font-size: 10px;
    transform: scale(0.8);
    margin-top: 10px;
    transform-origin: 0 0;
    display: block;
    letter-spacing: 0.02em;
    white-space: nowrap;
    line-height: 1;
  }
}

.about__cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.tar{
  text-align: right;
}

/* 縦組み */
.tver{
  writing-mode: vertical-rl;
}

.pab{
  position: absolute;
}

.about-img{
  &-01{
    width: calc(250/375*100vw);
    margin-right: calc(65 / 375 *100vw);
  }

  &-02{
    width: calc(151/375*100vw);
    margin-top:  calc(-60 / 375 *100vw);
    margin-right: calc(50% - 50vw);
    margin-left:  calc(194 / 375 *100vw);
  }
  
  &-03{
    width: calc(157/375*100vw);
    margin-right: calc(158 / 375 *100vw);
    margin-top: calc(-115 / 375 *100vw);
  }

  &-04{
    width: calc(232/375*100vw);
    margin-top: 50px;
    margin-left: calc(83 / 375 *100vw);

    .page__image-desc{
      top: 0;
      left: -7%;
      margin-top: 0;
    }
  }

  &-05{
    width: calc(130/375*100vw);
    margin-right: calc(186 / 375 *100vw);
    margin-top: calc(-12 / 375 *100vw);;
  }

  &-06{
    width: calc(117/375*100vw);
    margin-right: calc(66 / 375 *100vw);
    margin-left: calc(50% - 50vw);

    .page__image-desc{
      transform-origin: 100% 0;
    }
  }
  
  &-07{
    width: calc(162/375*100vw);
    .page__image-desc{
      transform-origin: 100% 0;
    }
  }
}

@media (min-width: 765px) {
  .page{
  
    &__image-desc{
      font-size: 13px;
      transform: scale(1);
      margin-top: 26px;
    }
  }
  
  /* 画像no.6, no.7のコンテナ */
  .about__cont{
    margin-top: 116px;
  }

  .about-img{
    &-01{
      width: 660px;
      margin-right: auto;
      margin-right: calc(384 / 1440 *100vw);
      left: calc(-70 / 1440 *100vw);
    }
  
    &-02{
      width: 362px;
      margin-right: 0;
      right: calc(-70 / 1440 *100vw);
      margin-left: auto;
      margin-top:  calc(-156 / 1440 *100vw);

      .page__image-desc{
        text-align: right;
      }
    }
    
    &-03{
      width: 605px;
      margin-top: calc(-291 / 1440 *100vw);
      margin-left: calc(85 / 1440 *100vw);
      margin-right: calc(328 /1440 * 100vw);

      .page__image-desc{
        position: relative;
        top: 0;
        left: -50px;
      }
    }
  
    &-04{
      width: 704px;
      margin-left: calc(341 / 1440*100vw);
      margin-top: 220px;
  
      .page__image-desc{
        top: 0;
        left: -6%;
        margin-top: 0;
      }
    }
  
    &-05{
      width: 413px;
      margin-right: 0;
      margin-top: 0;
      margin-right: calc(630 / 1440 *100vw);
      margin-top: calc(-140 / 1440 *100vw);
    }
  
    &-06{
      width: 400px;
      margin-right: calc(230 / 1440 *100vw);
      margin-left: 0;
      left: calc(-70 / 1440 *100vw);
    }
    
    &-07{
      max-width: 485px;
    }
  }


}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* style */
/* -------------------------------------------- */
.style{

  &__type{
  letter-spacing: 0.05em;
  font-weight: 700;
  position: absolute;
  }
}

.style-img{
  &-01{
    width: calc(290/375*100vw);
    margin-left: calc(50% - 50vw);
    margin-right: calc(55 / 375 *100vw);

    .style__type{
      top: 0;
      right: -6%;
      margin-top: 0;
    }
  }

  &-02{
    width: calc(207/375*100vw);
    margin-left: calc(108 / 375 *100vw);
    margin-top: calc(-80 / 375 *100vw);

    .page__image-desc{
      line-height: 1.6;
    }
  }
  
  &-03{
    width: calc(345/375*100vw);
    margin-right: calc(50% - 50vw);
    margin-top: 30px;
  }

  &-04{
    width: calc(315/375*100vw);
    margin-left: calc(50% - 50vw);
    margin-top: 50px;
    z-index: 1;

    .style__type{
      right: -5%;
      top: 5%;
    }

    .page__image-desc{
      padding-left: 30px;
    }

  }

  &-05{
    width: calc(209/375*100vw);
    margin-left: calc(105 / 375 *100vw);
    margin-top: 30px;
  }

  &-06{
    width: calc(149/375*100vw);
    margin-right: calc(168 / 375 *100vw);
    margin-top: calc(-194 / 375 *100vw);
  }
  
  &-07{
    width: calc(294/375*100vw);
    margin-top: 80px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(10 / 375 *100vw);

    .page__image-desc{
      position: absolute;
      left: 10%;
      top: -25px;
    }
  }

  &-08{
    width: calc(141/375*100vw);
    margin-right: calc(142 / 375 *100vw);
    margin-left: calc(32 / 375 *100vw);
    margin-top: calc(-38 / 375 *100vw);

    .style__type{
      top: 0;
      right: -8%;
      margin-top: 0;
      display: none;
    }
  }
  
  &-09{
    width: calc(138/375*100vw);
    margin-right: calc(30 / 375 *100vw);
    margin-left: calc(147 / 375 *100vw);
    margin-top: calc(-123 / 375 *100vw);
  }
  
}

@media (min-width: 765px) {
  .style{

  }
  
  .style-img{
    &-01{
      width: 644px;
      margin-left: calc(149 / 1440 *100vw);
      margin-right: calc(256 / 1440 *100vw);
    }
  
    &-02{
      width: 320px;
      margin-left: calc(725 / 1440 *100vw);
      margin-top: calc(-349 / 1440 *100vw);
    }
    
    &-03{
      width: 605px;
      margin-right: auto;
      margin-top: 0;
      padding-top: calc(-133 / 1440 *100vw);
      margin-right: calc(441 / 1440 *100vw);
    }
  
    &-04{
      width: 743px;
      margin-top: 180px;
      margin-left: calc(303 / 1440 *100vw);
  
      .page__image-desc{
        padding-left: 30px;
        text-align: right;
      }

      .style__type{
        right: 0%;
        top: 3%;
      }
    }
  
    &-05{
      width: 383px;
      margin-left: 0;
      margin-right: calc(657 / 1440 *100vw);
      margin-top: calc(-789 / 1440 *100vw);
    }
    
    &-06{
      width: 303px;
      margin-left: calc(121 / 1440 *100vw);
      margin-right: calc(622 / 1440 *100vw);
      margin-top: calc(-19 / 1440 *100vw);
    }
    
    &-07{
      width: 628px;
      margin-right: calc(444 / 1440 *100vw);
      margin-left: calc(-26 / 1440 *100vw);
      margin-top: 178px;
  
      .page__image-desc{
        top: 100%;
        left: 15%;
      }
    }
  
    &-08{
      width: 287px;
      margin-left: calc(555 / 1440 *100vw);
      margin-right: calc(204 / 1440 *100vw);
      margin-top: calc(-726 / 1440 *100vw);

      .style__type{
        display: block;
      }
    }
    
    &-09{
      width: 309px;
      margin-top: calc(-47 / 1440 *100vw);
      margin-right: calc(70 / 1440 *100vw);
      margin-left: calc(667 / 1440 *100vw);
    }
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* menu */
/* -------------------------------------------- */
.menu{

  &__wrap{
    padding: 0 25px;
  }

  &__flex{
    display: flex;
    justify-content: space-between;
  }

  &__title{
    font-size: 12px;
    border-bottom: 1px solid #AA9F9F;
    padding-bottom: 10px;
    font-weight: 400;
    margin-top: 30px;
  }
  
  &__price{
    font-weight: 700;
  }

  &__list{
    margin-top: 25px;
    font-size: 12px;
  }
  
  &__list-item{
    border-bottom: 0.5px solid #D3D3D3;
    padding: 15px 0 10px;
  }

  &__other{
    margin-top: 40px;
  }

  &__tax{
    font-size: 10px;
    color:#7B7B7B;
    margin-top: 150px;
    margin-top: 50px;
    line-height: 1;
  }
  
  &__attention{
    font-size: 10px;
    color:#7B7B7B;
    margin-top: 30px;
    margin-top: 15px;
  }
}

.mt60{
  margin-top: 60px;
}

@media (min-width: 765px) {
  .menu{

    &__wrap{
      padding: 0;
    }

    &__cont{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 50px;

      &.--other{
        max-height: 630px;

        .menu__title{
          &:first-child{
            margin-top: 0;
          }
        }
      }
    }
  
    &__title{
      font-size: 16px;
      width: 38.5%;
    }
  
    &__list{
      width: 38.5%;
      font-size: 16px;
    }
    
    &__list-item{
      padding: 30px 0 15px;

      &:first-child{
        padding-top: 0;
      }
    }
  
    &__other{
      margin-top: 0px;
    }

    &__bottom{
      width: 38.5%
    }

    &__tax{
      font-size: 15px;
      margin-top: 150px;
    }
    
    &__attention{
      font-size: 15px;
      margin-top: 30px;
    }
  }

  .mt60{
    margin-top: 150px;
  }

  .mt150{
    margin-top: 150px;
  }

  .mra{
    margin-left: auto;
  }

}

/* -------------------------------------------- */
/* salon */
/* -------------------------------------------- */
.salon-img{
  &-01{
    width: calc(375/375*100vw);
    text-align: right;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    
    .page__image-desc{
      transform-origin: 100%;
      padding-right: 30px;
    }
  }
  
  &-02{
    width: calc(323/375*100vw);
    margin-left: calc(50% - 50vw);
    margin-right: calc(13 / 375 *100vw);
    margin-top: 60px;
  }
  
  &-03{
    width: calc(256/375*100vw);
    margin-right: calc(50% - 50vw);
    margin-left: calc(89 / 375 *100vw);
    margin-top: 92px;
  }

  &-04{
    width: calc(340/375*100vw);
    margin-left: calc(50% - 50vw);
    margin-top: 97px;

    .page__image-desc{
      transform-origin: 100%;
      text-align: right;
    }
  }

  &-05{
    width: calc(375/375*100vw);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    margin-top: 115px;

    .page__image-desc{
      padding-left: 30px;
    }
  }
}

@media (min-width: 765px) {
  .salon-img{
    &-01{
      width: 851px;
      margin-left: 0;
      margin-right: calc(195 / 1440 *100vw);
      
      .page__image-desc{
        position: absolute;
        top: 0;
        right: -7%;
        margin-top: 0;
        writing-mode: vertical-rl;
        letter-spacing: 0.5em;
      }
    }
    
    &-02{
      width: 761px;
      margin-right: 0;
      margin-left: calc(285 / 1440 *100vw);
      margin-top: 180px;
    }
    
    &-03{
      width: 383px;
      margin-right: calc(604 / 1440 *100vw);
      margin-left: calc(58 / 1440 *100vw);
      margin-top: calc(-353 / 1440 *100vw);
      
      .page__image-desc{
        text-align: right;
      }
    }
    
    &-04{
      margin-top: 130px;
      margin-left: calc(262 / 1440 *100vw);
      width: 800px;
      margin-right: 0;
  
      .page__image-desc{
        padding-right: calc(57 / 1440 *100vw);
      }
    }
  
    &-05{
      width: 656px;
      margin-left: calc(192 / 1440 *100vw);
      margin-right: calc(192 / 1440 *100vw);
      margin-top: 180px;
  
      .page__image-desc{
        padding-left: 0px;
      }
    }
  }

}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */
/* 下からフェードイン */
.fadeUpTrigger{
  opacity: 0;
}

.fadeUpAnime {
  animation-name:fadeUpAnime;
  animation-duration: 1.8s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media (min-width: 765px) {


}
